<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="apple-touch-icon" href="img/icon.png" />
	<title>BLEpiMesh</title>
	<link rel="stylesheet" href="/static/themes/main.css<%=cacheKey%>" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/static/css/jquery.mobile.structure-1.3.2.min.css<%=cacheKey%>" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mobile-1.3.2.min.js"></script>
	<script type="text/javascript" src="/static/js/socket.io.js"></script>
	<script type="text/javascript" src="/static/js/purl.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/js/main.js<%=cacheKey%>"></script>
	
	<style type="text/css">
		#main .ui-btn{
			width: 20%;
			height: 5em;
			float: left;
			margin: 20px;
		}
		#main .ui-btn-inner{
			font-size: 1.8em;
		}
		
		#roomActivity td{
			padding: .2em 1em;
		}
	</style>
</head>
<body>
	<div id="main" data-role="page" data-theme="a">
		<h1>BLEpiMesh</h1>
		
		<div>
			<h2>Nodes List:</h2>
			<div id="roomActivity">
			</div>
		</div>
		<div>
			<h2>Recent Activity</h2>
			<div id="recentActivity">
			</div>
		</div>
	</div>

<script type="text/javascript" charset="utf-8">
	$(bpm.init);
</script>

</body>
</html>
